{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
    <main class="px-3">
        <h1 class="cover-heading">What Anime To Watch?</h1>
        <p class="lead">What Anime To Watch? (WATW) is a website that helps you keep track of the anime you plan to watch and the ones you have already finished.
            It allows you to maintain a watch history and includes options to add personal ratings and comments for each anime you have watched.
            Click the button below to log in, or use the register button at the top to create an account.</p>
        <p class="lead">
            <a href="/register" class="btn btn-lg btn-primary">Create Account</a>
        </p>

    </main>
{% endblock %}
