{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
    <h1>What Anime To Watch?</h1>
    <p class="lead">
        Inspired by his love for anime, Lester Osana created this website to help users keep track of their anime watch list
        and provide suggestions if they are unsure what to watch next. It also allows users to rate the anime they have just
        watched and submit these ratings, creating a watch history that includes personal ratings for each anime.
    </p>

    <footer>
        <p class="lead">Follow his social media accounts to stay updated on his future projects:</p>

        <a href="https://www.facebook.com/lstr.osana18" class="d-inline-flex link-body-emphasis text-decoration-none align-items-center">
            <img src="/static/facebook.png" alt="Facebook" width="40" height="40">
        </a>

        <a href="https://www.instagram.com/lstr.exe/" class="d-inline-flex link-body-emphasis text-decoration-none align-items-center">
            <img src="/static/instagram.png" alt="Instagram" width="40" height="40">
        </a>

        <a href="https://x.com/lstr_osana18" class="d-inline-flex link-body-emphasis text-decoration-none align-items-center">
            <img src="/static/x.png" alt="X" width="40" height="40">
        </a>
    </footer>
{% endblock %}
